@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?wfivw1');
  src:  url('../font/icomoon.eot?wfivw1#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?wfivw1') format('truetype'),
    url('../font/icomoon.woff?wfivw1') format('woff'),
    url('../font/icomoon.svg?wfivw1#icomoon') format('svg');
}                                    
.icon {
  font-family: "icomoon" !important;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  background-size: 100% auto;
  background-position: center;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}  
.icon-about:before{content: "\e900";}
.icon-add:before{content: "\e901";}
.icon-address:before{content: "\e902";}
.icon-allorder:before{content: "\e903";}
.icon-circle:before{content: "\e904";}
.icon-close:before{content: "\e905";}
.icon-contact:before{content: "\e906";}
.icon-coupon:before{content: "\e907";}
.icon-coupon1:before{content: "\e908";}
.icon-delete:before{content: "\e909";}
.icon-design:before{content: "\e90a";}
.icon-dot:before{content: "\e90b";}
.icon-down:before{content: "\e90c";}
.icon-edit:before{content: "\e90d";}
.icon-home:before{content: "\e90e";}
.icon-integral:before{content: "\e90f";}
.icon-left:before{content: "\e910";}
.icon-min:before{content: "\e911";}
.icon-more:before{content: "\e912";}
.icon-order:before{content: "\e913";}
.icon-over:before{content: "\e914";}
.icon-payment:before{content: "\e915";}
.icon-payment1:before{content: "\e916";}
.icon-pending:before{content: "\e917";}
.icon-people:before{content: "\e918";}
.icon-qq:before{content: "\e919";}
.icon-receipt:before{content: "\e91a";}
.icon-rectangle:before{content: "\e91b";}
.icon-right:before{content: "\e91c";}
.icon-round:before{content: "\e91d";}
.icon-safe:before{content: "\e91e";}
.icon-share:before{content: "\e91f";}
.icon-TX:before{content: "\e920";}
.icon-up:before{content: "\e921";}
.icon-user:before{content: "\e922";}
.icon-wechat:before{content: "\e923";}
.icon-weibo:before{content: "\e924";}
.icon-more{color:#ffc000;font-size:0.75rem;margin-left:0.25rem;}
.icon-people{color:#ffc000; font-size:5.875rem;line-height:1;}
.icon-order{color:#ffc000; font-size:5.875rem;line-height:1;}
.icon-contact{color:#ffx000;font-size:1.45rem;}
.icon-weibo,
.icon-qq,
.icon-wechat{font-size:2.5rem; color:#ff9c00; line-height:1;}
.icon-qq{color:#00a1d6;}
.icon-wechat{color:#48c13e;}
.icon-firend,
.icon-zone{height:2.5rem; width:2.5rem; background:url(../img/icon-firend.png)no-repeat center; background-size:2.5rem auto; border-radius:50%; overflow:hidden;}
.icon-zone{background-image:url(../img/icon-zone.png);}
.icon-right{color:#ffc000; font-size:0.85rem;}
.icon-round{font-size:0.85rem; color:#999;}
.icon-edit,
.icon-delete{font-size:0.7rem; color:#999;}
.card{margin:0.5rem 0; border-radius:0;}
.header-bar.bar-nav a{padding:0 0.5rem;}
.buttons-row .button.button-fill,
.button.button-fill{background-color:#ffc000; border-color:#ffc000;color:#fff;}
.buttons-row .button.button-fill.active,.buttons-row .button.button-fill:active,
.button.button-fill.active, .button.button-fill:active{background:#ffc000;;}
.button{color:#333; border-radius:0.125rem; font-size:0.7rem; padding:0 0.45rem; border-color:#e7e7e7;}
.button:active{color: #444; border-color: #eee;}
.button.active,
.button.active:active{color: #444; border-color: #eee;}
.facebook-card .card-footer a.btn-color,
.btn-color{color:#fff; border-color:#ffc000; background:#ffc000; border-radius:0.125rem; padding:0 0.45rem;}
.btn-color.button.active,
.btn-color.button:active{background:#f6b901; border-color:#f6b901; color:#fff;}
.theme-dark .tab-item.active{color: #fff;}
ul{padding:0;margin:0;}
ul li{padding:0;margin:0;list-style-type:none;}
/*index.html*/
.bar.header-bar{background: #ff6531;}
.bar.header-bar .title{color:#fff; font-size:0.9rem; padding:0 1.5rem; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.bar.header-bar .title.title-logo{height:100%; width:100%; background:url(../img/logo.png)no-repeat center; background-size:auto 1.5rem;}
.bar.header-bar .icon{color:#fff;font-size:0.9rem;}
.bar.header-bar:after{background:#000;}
.bar{background:#fff;}
.bar-tab .tab-item .icon~.tab-label{color:#666;}
.bar-tab .tab-item .icon{color:#666;}
.bar-tab .tab-item.active,
.bar-tab .tab-item.active .icon~.tab-label,
.bar-tab .tab-item:active .icon~.tab-label,
.bar-tab .tab-item.active .icon,
.bar-tab .tab-item:active .icon,
.bar-tab .tab-item:active{color:#ffc000;}
/*index.html轮播*/
.t3-index .swiper-container{width:100%;height:9rem;padding-bottom:0;}
.t3-index .swiper-container .swiper-slide img{height:100%;width:100%;margin:0 auto;}
.t3-index .swiper-container-horizontal > .swiper-pagination{bottom:0.45rem;left: 0;width: 100%;}
.t3-index .swiper-pagination-bullet{background:#ddd;opacity:1;}
.t3-index .swiper-pagination-bullet-active{background: #ffc000;}
/***/
.goods-box.card{background:#efeff4; margin-top:0;}
.goods-box.card>div:first-child{margin-top:0;}
.goods-box .card-content img{width:100%; display:block; margin:0 auto;}
.goods-box .card-footer{font-size:0.7rem; color:#666; -webkit-justify-content:center; justify-content:center;}
.goods-box .list-block .item-content{background:#fff; font-size:0.7rem; color:#666; -webkit-justify-content:center; justify-content:center;}
.t3-index .card .row{text-align:center;}
.t3-index .card .row .icon{padding-top:1.0rem;}
.t3-index .card .row p{height:1.25rem; font-size:0.45rem; color:#000; line-height:1.0rem; margin:0; text-align:center;}
.t3-index .card .row:nth-child(2){overflow:hidden;display:flex;display:-webkit-flex;padding:0 1rem 1rem 1rem;}
.t3-index .card .row:nth-child(2) div{font-size:0.35rem; color:#666; border:1px solid #ddd; line-height:1.6; padding:0.3rem 0.575rem; flex:1; -webkit-flex:1; display:flex; display:-webkit-flex; -webkit-justify-content:center; justify-content:center; -webkit-align-items:center; align-items:center; position:relative;}
.t3-index .card .row:nth-child(2) div:after{content:""; position:absolute; bottom:-0.125rem; left:0; right:0; height:1px; background:#ddd;}


/*articlelist.html*/
.t3-article-list .card:first-child{margin-top:0;}
.t3-article-list .card-header{min-height:0; height:1.75rem; padding:0 0.5rem;}
.t3-article-list .card-header img{display:block; height:100%;}
.t3-article-list .card-content{padding:0 0.5rem;}
.t3-article-list .card-content img{width:100%; display:block; margin:0 auto;}
.t3-article-list .card-footer{font-size:0.6rem; color:#333; display:block; padding:0.5rem 0.5rem 1.0rem 0.5rem; min-height:0;}

/*article.html*/
.t3-article-content .card{margin-top:0; padding:0 0.5rem;}
.t3-article-content .card h1{height:1.75rem; margin:0;}
.t3-article-content .card h1 img{height:100%;}
.t3-article-content .card>img{width:100%; margin:0.25rem 0; display:block;}
.t3-article-content .card{font-size:0.6rem; color:#333; line-height:1.5; padding-bottom:3.0rem;}
.t3-share-popup{position:fixed; left: 0; top: auto; bottom:0; height: 5.25rem; display:block; background:#fff;}
.t3-share-popup .bar-tab{height:auto;}
.t3-share-popup .bar-tab .tab-item{height:auto; padding-top:0.75rem; padding-bottom:1.0rem;}
.t3-share-popup .bar-tab .tab-item .icon-weibo,
.t3-share-popup .bar-tab .tab-item .icon-qq,
.t3-share-popup .bar-tab .tab-item .icon-wechat{font-size:2.5rem; color:#ff9c00; line-height:1; height:auto;}
.t3-share-popup .bar-tab .tab-item .icon-qq{color:#00a1d6;}
.t3-share-popup .bar-tab .tab-item .icon-wechat{color:#48c13e;}
.t3-share-popup .bar-tab .tab-item .icon-firend,
.t3-share-popup .bar-tab .tab-item .icon-zone{height:2.5rem; width:2.5rem; overflow:hidden;}
.t3-share-popup .bar-tab .tab-item .icon~.tab-label{font-size:0.6rem; color:#333; top:0; line-height:1; padding-top:0.375rem;}

/*mycenter.html*/
.t3-my-center .bar-tab{background:#fff; height:auto; padding:0.35rem 0;}
.t3-my-center .bar-tab .tab-item{border-left:1px solid #e7e7e7; height:2.65rem;}
.t3-my-center .bar-tab .tab-item:first-child{border-left:none;}
.t3-my-center .list-block .item-content .item-title,
.t3-my-center .list-block .item-link .item-inner{background-image:none; color:#666;}
.t3-my-center .list-block{margin:0; margin-top:0.75rem; font-size:0.8rem;}
.t3-my-center .list-block .item-media{font-size:1.0rem; padding:0;}
.t3-my-center .list-block .item-inner{padding:0; height:2.6rem; padding-right:0.65rem;}
.t3-my-center .list-block .item-content{height:2.6rem; padding-left:0.5rem;}
.t3-my-center .list-block .item-after span{color:#ffc000; padding-right:0.75rem;}
.t3-my-center .list-block .item-after .button{min-width:3.15rem;}
.ta-center-avatar{height:10.25rem; background:#000; padding-top:2.75rem;}
.ta-center-avatar div{width:4.8rem; height:4.8rem; border-radius:50%; overflow:hidden; margin:0 auto;}
.ta-center-avatar div img{display:block; margin:0 auto; width:100%;}
.ta-center-avatar p{font-size:0.9rem; color:#fff; text-align:center; margin:0; line-height:2.125rem;}
/*accountsecurity.html*/
.t3-account-security{padding:0 0.75rem;}
.t3-account-security p{font-size:0.8rem; color:#666; margin:0; line-height:1; padding-bottom:0.75rem; padding-top:1.25rem}
.t3-account-security input{width:100%; height:2.25rem; border:none; border-radius:0.1rem; text-indent:0.6rem;}
.t3-account-security input::-webkit-input-placeholder{font-size:0.8rem; color:#999;}
.t3-account-security a{font-size:1rem; height:2.25rem;}
.t3-account-security .button.btn-color{line-height:2.25rem; margin-top:3rem;}
/*myaddress.html*/

.t3-my-address nav.bar{background:#ffc000;}
.t3-my-address nav.bar a{height:100%; border-radius:0; top:0; font-size:1.0rem; line-height:2.5rem;}
.t3-my-address .card .card-content-inner{padding-bottom:0;}
.t3-my-address .card .card-content-inner p{margin:0; line-height:1;}
.t3-my-address .card .card-content-inner p:first-child{font-size:0.8rem; color:#666;}
.t3-my-address .card .card-content-inner p:first-child span{font-size:0.8rem; color:#666; margin-left:1.5rem;}
.t3-my-address .card .card-content-inner p:nth-child(2){font-size:0.75rem; color:#999; padding:0.45rem 0; line-height:1.2;}
.t3-my-address .card .card-footer{font-size:0.8rem; color:#666; padding-top:0.125rem;}
.t3-my-address .card .card-footer label{-webkit-flex:1; flex:1;}
.t3-my-address .card .card-footer .label-checkbox{background:#fff;}
.t3-my-address .card .card-footer a{padding:0 0.4rem;}
.t3-my-address .card{position:relative;}
.t3-my-address .card:first-child{margin-top:0;}
.t3-my-address .card .card-footer label .icon{vertical-align:bottom; margin-right:0.25rem;}
.t3-my-address label.label-checkbox input[type=checkbox]:checked + i.icon-round, label.label-checkbox input[type=radio]:checked + i.icon-round{border:none;}
.t3-my-address label.label-checkbox input[type=checkbox]:checked + i.icon-round, label.label-checkbox input[type=radio]:checked + i.icon-round:before{content: "\e91c"; color:#ffc000;}

/*coupons.html*/
.t3-my-coupons nav.bar{background:#ffc000;}
.t3-my-coupons nav.bar a{height:100%; border-radius:0; top:0; font-size:1.0rem; line-height:2.5rem;}
.t3-my-coupons .card{margin:0 0.75rem; margin-top:0.5rem; border-radius:0.25rem;}
.t3-my-coupons .card:first-child{margin-top:0.75rem;}
.t3-my-coupons .card-content{font-size:0.75rem; color:#999; line-height:1; padding:1.6rem 0 1.6rem 4.4rem; background:url(../img/coupons.png)no-repeat left center; background-size:auto 100%;}
.t3-coupons-popup{position:fixed; left: 0; top: auto; bottom:0; height: auto; display:block; background:#fff;}
.t3-coupons-popup div{padding:0.6rem 0.75rem 0.5rem 0.75rem;}
.t3-coupons-popup input{width:100%; height:2.15rem; text-indent:0.375rem; border:1px solid #bbb; border-radius:0.15rem; appearance:none; -webkit-appearance:none;}
.t3-coupons-popup input::-webkit-input-placeholder{font-size:0.75rem; color:#bbb;}
.t3-coupons-popup input::input-placeholder{font-size:0.75rem; color:#bbb;}
.t3-coupons-popup a{font-size:1rem; height:2.5rem; border-radius:0; line-height:2.5rem;}


/*orderlist.html*/
.t3-order-list .buttons-tab .button.active{color:#ffc000; border-color:#ffc000;}
.t3-order-info.facebook-card .card-header{overflow:hidden;}
.t3-order-info.facebook-card .facebook-avatar{border:1px solid #ccc; height:2.75rem; width:2.75rem; overflow:hidden;}
.t3-order-info.facebook-card .facebook-avatar img{width:100%; display:block; margin:0 auto;}
.t3-order-info.facebook-card .facebook-name{font-size:0.6rem; color:#666; margin-left:3.25rem; display:-webkit-flex; display:flex;}
.t3-order-info.facebook-card div:nth-child(3).facebook-name{line-height:1.7;}
.t3-order-info.facebook-card .facebook-name div:first-child{-webkit-flex:1; flex:1;}
.t3-order-info.facebook-card .card-header>div:nth-child(2)>div:nth-child(2){color:#999;}
.t3-order-info.facebook-card .facebook-name div span{margin-left:0.75rem;}
.t3-order-info.facebook-card .facebook-name div span:first-child{margin-left:0;}
.t3-order-info.card .card-content{text-align:right; padding-bottom:0.6rem;}
.t3-order-info.card .card-content div:first-child{color:#ffc000; font-size:0.6rem; line-height:1; padding:0.4rem 0.5rem;}
.t3-order-info.card .card-content div{padding:0 0.5rem;}
.t3-order-info.card .card-content div a.button{display:inline-block; width:3.75rem; height:1.25rem; line-height:1.25rem; font-size:0.7rem; border-radius:0.1rem;}
/*CheckLogistics.html*/
.t3-check-logistic .facebook-card{margin-top:0;}
.t3-check-logistic .facebook-card .card-header{overflow:hidden; padding:0.65rem 0.5rem;}
.t3-check-logistic .facebook-card .facebook-avatar{width:2.9rem; height:2.9rem; border:1px solid #ddd; overflow:hidden;}
.t3-check-logistic .facebook-card .facebook-avatar img{width:100%; display:block; margin:0 auto;}
.t3-check-logistic .facebook-card .facebook-name{font-size:0.55rem; color:#666; margin-left:3.25rem; line-height:1; padding-bottom:0.2rem;}
.t3-check-logistic .facebook-card .facebook-name:last-child{padding-bottom:0;}
.t3-check-logistic .facebook-card .facebook-name span{color:#ffc000;}
.t3-logistic-info{padding-left:0.85rem; padding-top:1rem;}
.t3-logistic-info .card-content-inner{border-left:1px solid #cbcbcb; font-size:0.6rem; color:#999; line-height:1.2; position:relative;}
.t3-logistic-info .card-content-inner:before{content:""; position:absolute; height:1px; left:1rem; right:0; bottom:0; background:#ededed;}
.t3-logistic-info .card-content-inner:last-child{border-left:1px solid #fff;}
.t3-logistic-info .card-content-inner:last-child:before{height:0;}
.t3-logistic-info .card-content-inner:first-child{color:#666; padding-top:0;}
.t3-logistic-info .card-content-inner:first-child .t3-circle{left:-0.3rem;}
.t3-logistic-info .card-content-inner:first-child .t3-circle .icon{font-size:0.55rem; color:#ffc000;}
.t3-logistic-info .t3-logistic-time{font-size:0.45rem; padding-top:0.4rem; padding-left:0.25rem;}
.t3-circle{position:absolute; left:-0.20rem; top:-0.5rem;}
.t3-circle .icon{font-size:0.3rem; color:#ddd;}
.card-logistic-man .card-footer{height:3.15rem; padding:0 0.6rem;}
.card-logistic-man .card-footer>div:nth-child(1){width:2.4rem; height:2.4rem; border-radius:50%; overflow:hidden;}
.card-logistic-man .card-footer>:nth-child(1) img{display:block; width:100%; margin:0 auto;}
.card-logistic-man .card-footer>:nth-child(2){-webkit-flex:1; flex:1; padding-left:0.875rem;}
.card-logistic-man .card-footer>:nth-child(2) span{font-size:0.6rem; color:#999; display:block;}
.card-logistic-man .card-footer>:nth-child(2) span:nth-child(2){color:#666;}
.card-logistic-man .icon{font-size:1.45rem; color:#ffc000;}
/*orderdetail.html*/
.t3-order-detail .t3-order-info{margin-top:0;}
.t3-order-detail .t3-order-info .card-content{min-height:0; height:1.75rem;}
.t3-order-address.list-block{margin:0;margin-bottom:0.5rem;background:#fff;}
.t3-order-address.list-block .item-text{height:auto;font-size:0.75rem;color:#999;line-height:1.6;}
.t3-order-address.list-block .item-title-row{font-size:0.8rem; color:#666; line-height:1.6;}
.t3-order-other.list-block{margin:0;}
.t3-order-other.list-block ul{padding:0.3rem 0;}
.t3-order-other.list-block .item-content{min-height:0; height:1.9rem; font-size:0.75rem; color:#999;}
.t3-order-other.list-block .item-content .item-inner{padding-top:0; padding-bottom:0; min-height:0; height:1.9rem;}
/*submitorder.html*/
.t3-submit-order .content .t3-add-address.list-block{background:#fff; margin:0; margin-bottom:0.5rem; height:2.5rem;}
.t3-submit-order .content .t3-add-address.list-block .item-inner{background-image:none; height:2.5rem; padding-right:0.75rem;}
.t3-submit-order .content .t3-add-address.list-block .item-inner:after{background:#fff;}
.t3-submit-order .content .t3-add-address.list-block .item-title{font-size:0.8rem; color:#666;}
.t3-submit-order .content>div:last-child.list-block .item-title{font-size:0.75rem;}
.t3-submit-order .content> .t3-add-address.list-block .icon{font-size:0.8rem; color:#ffc000; font-weight:700;}
.t3-order-address .item-inner>div:nth-child(1).item-title-row .item-after{-webkit-flex:1; flex:1; padding-left:1.375rem;}
.t3-order-address .item-inner>div:nth-child(3).item-title-row .item-after{padding-left:0.5rem; color:#ffc000;}
.t3-submit-order .t3-order-info .card-footer{background:#fff; height:3.1rem; padding:0 0.5rem;}
.t3-submit-order .t3-order-info .card-footer div{font-size:0.75rem; color:#ffc000;}
.t3-submit-order .t3-order-coupon .card-header{padding:0 0.5rem; height:3.4rem;}
.t3-submit-order .t3-order-coupon .card-header span{font-size:0.75rem; color:#666; width:4.1rem; -webkit-flex-shrink:0;flex-shrink:0;}
.t3-submit-order .t3-order-coupon .card-header button{-webkit-flex-shrink:0;flex-shrink:0; width:3.75rem;}
.t3-submit-order .t3-order-coupon .card-header div{-webkit-flex:1; flex:1; margin-right:0.25rem;}
.t3-submit-order .t3-order-coupon .card-header input{width:100%; border:1px solid #e1e1e1; height:1.25rem; border-radius:0.125rem; text-indent:0.125rem; appearance:none; -webkit-appearance:none;}
.t3-order-payment .card-header{display:block;text-align:center;font-size:0.9rem;color:#666;}
.t3-order-payment .card-header span{color:#ffc000;}
.t3-order-payment .card-content{padding:0.375rem 0;}
.t3-order-payment .item-content{position:relative;}
.t3-order-payment .item-content .item-inner{color:#000; font-size:0.75rem;}
.screen{position:absolute;top:0;left:0;bottom:0;right:0;background:rgba(255,255,255,0);z-index:2;}
.t3-order-payment .icon{line-height:1;}
.t3-order-payment .icon-round{color:#666; font-size:0.75rem;}
.t3-order-payment .icon-payment{color:#00aaef; font-size:1.75rem;}
.t3-order-payment .icon-payment1{font-size:1.85rem; color:#4fb640;}
.t3-order-payment .item-media i+i{margin-left:0.75rem;}
.t3-order-payment .item-content.active .icon-round:before{content: "\e90b"; color:#ffc000; font-size:0.75rem;}
.t3-address-popup{background:none; position:fixed; width:100%; height:auto; max-height:80%; display:block; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0);}
.t3-address-popup.modal-out{-webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0);}
.t3-address-popup .t3-address-box{width:90%; margin:0 auto; border-radius:0.1rem;}
.t3-address-popup .media-list .item-content.item-link{padding-left:0.5rem; background-image:none; position:relative;}
.t3-address-popup .t3-address-screen{position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(255,255,255,0);}
.t3-address-popup .list-block .item-content .icon{font-size:0.825rem;}
.t3-address-popup .list-block .item-media+.item-inner{margin-left:0.5rem; padding-right:1rem; background-image:none; font-size:0.8rem;}
.t3-address-popup .list-block .item-text{height:auto; font-size:0.75rem;}
.t3-address-popup .list-block .item-after{-webkit-flex:1; flex:1; padding-left:0.25rem;}
.t3-address-popup .list-block .item-link.active .icon-round:before{content: "\e90b"; color:#ffc000;}
.t3-address-popup .card-footer{height:3.35rem; -webkit-justify-content:center; justify-content:center;}
.t3-address-popup .card-footer .button{font-size:1.0rem; padding:0 1.125rem; height:1.8rem; line-height:1.8rem;}
.t3-address-popup .icon-close{font-size:1.35rem; color:#fff;}
.t3-address-popup .t3-address-close{text-align:center;}

/*editaddress.html*/
.t3-edit-address .list-block{margin:0;margin-bottom:0.5rem;font-size:0.8rem;color:#666;}
.t3-edit-address .item-title{color:#666;width:4rem;-webkit-flex-shrink:0;flex-shrink:0;}
.t3-edit-address .item-input input{font-size:0.8rem;color:#666;}
.t3-edit-address .item-text{-webkit-flex:1;flex:1;}
.t3-edit-address .item-text select option{font-size:0.8rem;color:#666;}
.t3-edit-address .list-block .item-content{height:2.5rem;}
/*changeorder.html*/
.t3-change-order .bar-tab~.content{bottom:5rem;}
.t3-change-order .t3-order-box{height:5rem;}
.t3-change-order .t3-order-box div:nth-child(1){color:#ffc000; font-size:0.75rem; text-align:center; height:2.5rem; line-height:2.5rem;}
.t3-change-order .t3-order-box div:nth-child(1) span{padding:0 0.125rem;}
.t3-commodity-info .list-block .item-content{padding-left:0; height:3.4rem;}
.t3-commodity-info .list-block .item-inner{font-size:0.75rem; color:#666; padding:0 0.75rem; height:3.4rem;}
.t3-commodity-info .list-block .item-inner .item-after{-webkit-flex:1; flex:1;}
.t3-commodity-info .list-block .item-inner .item-after .button{margin:0 0.125rem; min-width:2.5rem; line-height:1.5rem; height:1.5rem;}
.t3-commodity-info.card .card-footer .link{font-size:0.75rem; color:#333;}
.t3-commodity-info.card .card-footer{height:3.4rem;}
.t3-commodity-info.card .card-footer div{position:relative;}
.t3-commodity-info.card .card-footer input,
.t3-commodity-info.card .card-footer .icon{width:1.5rem; height:1.5rem; border:1px solid #efefef; border-radius:0.1rem; text-align:center;}
.t3-commodity-info.card .card-footer input{line-height:1.44rem; border-radius:0.1rem; margin:0 1.8rem; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;}
.t3-commodity-info.card .card-footer .icon{color:#ffc000; line-height:1.5rem; position:absolute;}
.tt3-commodity-info.card .card-footer .icon-min{left:0;}
.t3-commodity-info.card .card-footer .icon-add{right:0; top:0;}
.t3-commodity-info.bar-tab~.content{bottom:5rem;}
.t3-change-order .content .t3-order-info{margin-top:0;}

/*commoditydetail.html*/
.t3-commodity-detail.swiper-container{width:100%;height:0;}
.t3-commodity-detail .swiper-container .swiper-slide{height:0;width:100%;padding-top:100%;background:red no-repeat top center;background-size:cover;}
.t3-commodity-detail .swiper-container-horizontal > .swiper-pagination{bottom:0.5rem;left: 0;width: 100%;}
.t3-commodity-detail .swiper-pagination-bullet{background:#ddd;opacity:1;}
.t3-commodity-detail .swiper-pagination-bullet-active{background: #ffc000;}
.t3-commodity-detail .list-block.media-list{margin:0;}
.t3-commodity-detail .list-block.media-list .item-content{padding-left:0; height:3.35rem;}
.t3-commodity-detail .list-block.media-list .item-inner{font-size:0.7rem; color:#666; padding:0 0.5rem; line-height:1.7; height:3.35rem; padding-top:0.6rem; padding-bottom:0.75rem;}
.t3-commodity-detail .list-block.media-list .item-subtitle{color:#ffc000; font-size:0.9rem;}
.t3-commodity-detail .list-block.media-list .item-title-row .t3-progress-box{-webkit-flex:1;flex:1; display:-webkit-flex; display:flex; -webkit-justify-content:flex-end; justify-content:flex-end; -webkit-align-items:center; align-items:center;}
/*进度条 改变t3-progress>div width的值*/
.t3-progress{width:90%; height:0.4rem; border-radius:0.5rem; border:0.025rem solid #ddd; box-shadow: inset 0 1px 2px rgba(90, 90, 90, .1); overflow:hidden;}
.t3-progress>div{float:left; width:50%; height:100%; background:#ffc000; border-radius:0.5rem;}
.t3-commodity-detail ul.card-footer{padding-left:0.65rem; padding-right:0;}
.t3-commodity-detail ul.card-footer li:nth-child(1){width:2.4rem; height:2.4rem; overflow:hidden;}
.t3-commodity-detail ul.card-footer li:nth-child(1) img{width:100%; display:block; margin:0 auto;}
.t3-commodity-detail ul.card-footer li:nth-child(2){-webkit-flex:1; flex:1; color:#666; font-size:0.7rem; padding-left:0.6rem;}
.t3-commodity-detail ul.card-footer li:nth-child(3),
.t3-commodity-detail ul.card-footer li:nth-child(4){border-left:1px solid #efefef; min-width:3.45rem; padding:0 0.25rem;}
.t3-commodity-detail ul.card-footer li span{display:block; font-size:0.65rem; color:#999; text-align:center;}
.t3-commodity-intro .card-header{display:block; font-size:0.75rem; color:#000; padding-left:0.5rem;}
.t3-commodity-intro .card-header .icon{color:#ffc000; font-size:0.5rem; padding-right:0.25rem;}
.t3-commodity-intro .card-content{background:pink;}
.t3-commodity-intro .card-content img{width:100%; display:block; margin:0 auto;}
.t3-up{position:fixed; background:rgba(0,0,0,0.5); right:0.875rem; font-size:0.8rem; border-radius:50%; width:2.25rem; height:2.25rem; bottom:3.5rem; color:#fff; z-index:100; display:-webkit-flex; display:flex; -webkit-justify-content:center; justify-content:center; -webkit-align-items:center; align-items:center; opacity:0;}

/*addaddress.html*/
.t3-add-address .list-block{margin:1rem 0;}
.t3-add-address .list-block ul{background:none;}
.t3-add-address .list-block ul:after,
.t3-add-address .list-block ul:before{height:0;}
.t3-add-address .list-block .item-content{padding-left:0; margin-bottom:0.55rem;}
.t3-add-address .list-block .item-title{width:6rem; font-size:0.8rem; color:#666; padding-left:0.75rem;}
.t3-add-address .list-block .item-input{position:relative;}
.t3-add-address .list-block .item-input input,
.t3-add-address .list-block .item-input select{border:1px solid #ddd; border-radius:0.1rem; background:#fff; text-indent:0.5rem; font-size:0.8rem; color:#999;}
.t3-add-address .list-block .item-input input::-webkit-input-placeholder{color:#999; font-size:0.8rem;}
.t3-add-address .list-block .item-inner:after{height:0;}
.t3-add-address .list-block li:nth-child(3) .item-input:after,
.t3-add-address .list-block li:nth-child(4) .item-input:after,
.t3-add-address .list-block li:nth-child(5) .item-input:after{content:""; position:absolute; width:0; height:0; right:0.7rem; top:0.875rem; border:0.5rem solid transparent; border-top-color:#ddd; border-width:0.6rem 0.425rem 0.6rem 0.425rem;}

/*按钮*/
.t3-button-two{font-size:0.9rem;}
.t3-button-two .tab-item{color:#fff;}
.t3-button-two .tab-item:nth-child(1){background:#000;}
.t3-button-two .tab-item:nth-child(2){background:#ffc000;}
.t3-button-one{background-color:#ffc000;font-size:1rem;z-index:20;position:fixed;}
.t3-button-one .tab-item{color:#fff;letter-spacing:1px;}
.t3-button-one .tab-item.active,
.t3-button-one .tab-item:active{background:#f6b901; border-color:#f6b901; color:#fff;}
.t3-button-two .tab-item.active,
.t3-button-two .tab-item:active{color:#fff;}

.baractive{
 background: url(../img/1.png) center 10px no-repeat;
 background-size: 36px 37px;
}
.higo{
 background: url(../img/5.png) center 10px no-repeat;
 background-size: 86px 37px;
}
.userInfo{
 background: url(../img/4.png) center 10px no-repeat;
 background-size: 36px 37px;

}
.slideactive{
    width: 2.5rem !important;
	font-size: 0.675rem;
    font-family: "微软雅黑";
}